################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SchoolManagement/FileContentIndex
# Visual Studio stuff
.vs/
*.user
*.suo

# Build results
bin/
obj/

# Others
*.log
*.vsidx
/.vs
